extends ../layouts/mainLayout

block pageStyles
  link(rel="stylesheet", href="/css/login.css")

block content
  section.login-section
    .login-container
      if error
        p.error-message #{error}
      if success
        p.success-message #{success}

      form.login-form(action="/forgot-password/reset" method="POST")
        h1 Reset Password
        p.intro Please enter your new password below.

        .form-group
          label(for="newPassword") New Password:
          input#newPassword(type="password" name="newPassword" required)

        .form-group
          label(for="confirmPassword") Confirm New Password:
          input#confirmPassword(type="password" name="confirmPassword" required)

        button.btn.btn-primary(type="submit") Update Password
