extends ../layouts/mainLayout

block pageStyles
  link(rel="stylesheet" href="/css/signup.css")


block content
  section.signup-section
    // Use data-error to store the server-side error message
    .signup-container#signup-page-container(data-error=error || '')
     



      // Reassuring copy


      form.signup-form(action="/signup" method="POST")
        h1 Create Account
        p.intro
          | We are excited to earn your business. Please set up an account 
          | so we can personalize your experience and better serve you through 
          | our client portal. Your information will never be shared with a third-party, 
          | and you will not receive unsolicited calls, emails, or text messages.
        .form-group
          label(for="firstName") First Name:
          input#firstName(type="text" name="firstName" required value=formData && formData.firstName ? formData.firstName : '')

        .form-group
          label(for="lastName") Last Name:
          input#lastName(type="text" name="lastName" required value=formData && formData.lastName ? formData.lastName : '')

        .form-group
          label(for="email") Email Address:
          input#email(type="email" name="email" required value=formData && formData.email ? formData.email : '')

        .form-group
          label(for="password") Password:
          input#password(type="password" name="password" required)

        .form-group
          label(for="confirmPassword") Confirm Password:
          input#confirmPassword(type="password" name="confirmPassword" required)

        button.btn.btn-primary(type="submit") Create Account
        p.linkText(style="margin-top: 1rem; font-size: 14px; color: grey;")
          | Already have an account?
          a(href="/login") Log In

    script.
        var targetURL = 'bluegrass-roofing'
        //- var targetURL = window.location.hostname;

        var desktopBottom = '25px'
        var desktopRight = '25px'
        var desktopWidth = '260px'
        var desktopHeight = '110px'
        var mobileBottom = '10px'
        var mobileRight = '5px'
        var mobileWidth = '250px'
        var mobileHeight = '100px'
        var qqButtonColorBar = '#DD6F51'
        var qqButtonTextColor1 = 'rgb(22, 35, 58)'
        var qqButtonTextColor2 = '#DD6F51'
        var qqButtonImage = 'https://irp.cdn-website.com/f6c14370/dms3rep/multi/BlueGrass-logo-black.png'
    script(src='https://storage.googleapis.com/quickquote-integration/QuickQuote%20Javascript%20-%20Final%201.0.js')

block pageScripts
  script(src="/js/alert.js")
  script(src="/js/signup.js")
